.sport_app_main_container {
  background-color: white;
  text-align: center;
}

.sport_app_main_container__header {
  text-align: center;
}
.header_link {
  text-decoration: none;
  color: #00ADEE;
  text-transform: uppercase;
  line-height: 21px;
  font-size: 16px;
}
