$header-color: #333333;
$description-color: #4F4F4F;
$base-color: #F4F6F9;

$font-stack: 'Lato';
$filename-regular: 'lato-bold';
$filename-regular: 'lato-regular';
$path: '../webroot/fonts';
$extension: 'woff', 'woff2';
$bold-weight: 700;
$regular-weight: 400;


