$header-color: #333333;
$description-color: #4F4F4F;
$base-color: #F4F6F9;

$font-stack: 'Lato';
$filename-regular: 'lato-bold';
$filename-regular: 'lato-regular';
$path: '../webroot/fonts';
$extension: 'woff', 'woff2';
$bold-weight: 700;
$regular-weight: 400;
$nav-padding-right: 28px;
$mobile-padding-bottom: 59px;
$desktop-padding-bottom: 169px;

@mixin reset-list {
  list-style: none;
  display: flex;
  padding-left: 0;
}

@mixin default-max-width {
  max-width: 100%;
}
