@media(min-width: 1200px) {
  .sport_app_article {
    padding-top: 50px;
    text-align: start;
    max-width: 557px;
  }

  .sport_app_article__title {
    font-size: 36px;
    text-align: start;
  }

  .sport_app_article__description {
    font-size: 18px;
    text-align: start;
  }
}


/* Mobile style */
.sport_app_article {
  text-align: center;
  padding-top: 50px;
}

.sport_app_article__title {
  line-height: 1.75;
  font-size: 36px;
}

.sport_app_article__description {
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 18px;
}

