@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('lato-regular'), local('Lato-Regular'),
        url('lato-regular.woff2') format('woff2'),
        url('lato-regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src:  local('Lato Bold'), local('lato-bold'), local('Lato-Bold'),
        url('lato-bold.woff2') format('woff2'),
        url('lato-bold.woff') format('woff');
    font-weight: 700;
}


