body {
  line-height: 1.75;
  background-image: url('../img/bg_header.png');
  background-repeat: no-repeat;
  background-position: right 50%;
  background-size: 900px;
  background-color: lightcyan;
}


html {
  font-family: 'Lato', sans-serif;
}


/* Mobile style */

@media(max-width: 400px) {
  body {
    background-image: none;
    margin-left: auto;
  }
}
