body {
  line-height: 1.75;
  background-image: url('../img/bg_header.png');
  background-repeat: no-repeat;
  background-position:  130% 50%;
  background-size: 65%;
  background-color: #F4F6F9;
  margin: auto;
  max-width: 80%
}


html {
  font-family: 'Lato', sans-serif;
}


/* Mobile style */

@media(max-width: 400px) {
  body {
    background-image: none;
    margin-left: auto;
  }
}
