/* Mobile style */

@media(min-width: 200px) {
  .sport_app_article--downloading {
  display: flex;
  margin-left: 0;
  }
}

.apple_store,
.google_play {
  border: none;
  background-color: transparent;
}
