.sport_app_article__footer--list {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.sport_app_article__footer__list--apple__store {
  padding-right: 3rem;
  padding-bottom: 10rem;
}

.image {
  max-width: 100%;
}
