/* Mobile style */

@media(max-width: 400px) {
  .sport_app_article--title {
    text-align: start;
    padding-left: 2rem;
  }

  .sport_app_article--goal {
    text-align: center;
  }

}

/* Desktop */

.sport_app_article {
  margin-top: 10rem;
}
