.sport_app_article {
  padding-top: 70px;
}

.sport_app_article--title {
  font-size: 36px;
  max-width: 50%;
  color: #333333;
  letter-spacing: 0.03em;
}

.sport_app_article--goal {
  max-width: 50%;
  font-size: 18px;
  color: #4F4F4F;
}
/* Mobile style */

@media(max-width: 400px) {
  .sport_app_article {
    padding-top: 50px;
  }

  .sport_app_article--title {
    text-align: start;
    padding-left: 2rem;
    max-width: none;
  }

  .sport_app_article--goal {
    text-align: center;
    max-width: none;
  }
}
